:root {
    --primary: #270446;
    --primary-bg-color: #f9f9fa;
    --secondary-bg-color: #f7e2c7;
    --tertiary-bg-color:#d2f5c9;
    --quaternary--bg-color: #fcf6ee;
  }

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.container {
    width: 75%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

header {
    padding: 15px 0;
    background-color: var(--primary);
    color: var(--primary-bg-color);
}

footer {
    text-align: center;
    font-size: .75rem;
    padding: 3rem 0;
}

section {
    padding: 5rem 0;
}

h1,
h2,
h3,
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style: none;
}

#addToDoSection {
    background-color: var(--secondary-bg-color);
}

#toDoListSection {
    background-color: var(--tertiary-bg-color);
}

#add-form {
    display: flex;
    justify-content: center;
}

#add-form > * {
    margin-bottom: 5px;
}

.btn {
    border-radius: 3px;
    }

.btn-lg {
    padding: .65rem 1.1rem;

}

.btn-primary {
    color: var(--primary-bg-color);
    background-color: var(--primary);
    border: 1px solid transparent;
    transition: all .5s;
}

.btn-primary:hover {
    color: var(--primary);
    background-color: var(--primary-bg-color);
    border: 1px solid currentColor;
}

#addToDo {
    border: none;
    outline: transparent;
    padding: 8px 3px;
    border-radius: 1px;
    font-size: 1.25rem;
    background-color: var(--quaternary--bg-color);
}